<!--
  Generated template for the RecipeDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>RecipeDetail</ion-title>
    <!--
    <ion-title class="email" text-right >
      {{user.email}}
    </ion-title> 
   -->
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <img src="{{recipe.image}}">
      <ion-card-content>
        <ion-card-title>
          {{recipe.name}}
        </ion-card-title>
        <ion-row>
            <ion-col col-5>
              <button  ion-button icon-left clear small (click)="getLike()">
                <ion-icon class="thumbsup" name="thumbs-up"></ion-icon>
                <div>{{recipe.likeNumber}}  Likes</div>    
              </button>
            </ion-col>
            <ion-col col-5>
              <button (click)="openForm()" ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>{{recipe.commentNumber}} Comments</div>
              </button>
            </ion-col>
        </ion-row>
       
        <!--Here is Comment Form-->
        <form [formGroup]="myComment" *ngIf="showForm" (ngSubmit)="submitComment(myComment.value)" >
           <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
           <ion-list>   
             <ion-item>
                <ion-label floating>Comment</ion-label>
                <ion-textarea [class.invalid]="!myComment.controls.comment.valid && (myComment.controls.comment.dirty || submitAttempt)" formControlName="comment" type="text" name="comment"></ion-textarea>
              </ion-item>
              <ion-item *ngIf="myComment.controls.comment.invalid">
                <p>Checking comment...</p>
              </ion-item>   
              
              <ion-item>
                <ion-label floating>author</ion-label>
                <ion-input [class.invalid]="!myComment.controls.author.valid && (myComment.controls.author.dirty || submitAttempt)" formControlName="author" type="text"></ion-input>
              </ion-item>
              <ion-item *ngIf="myComment.controls.author.invalid">
                <p>Checking author...</p>
              </ion-item>
               
            </ion-list>
          <button ion-button  type="submit" [disabled]="myComment.controls.comment.invalid || myComment.controls.author.invalid  || !myComment.controls.comment.dirty || !myComment.controls.author.dirty">Add</button>
        
        </form>
        
         
        <ion-title>
            Direction:
        </ion-title>
        <ion-list *ngFor="let dir of direction">
            <ion-item text-wrap>
                {{dir}}                            
            </ion-item>       
        </ion-list>
          
        <ion-title>
            Ingredient:
        </ion-title> 
        <ion-list *ngFor="let ingr of ingredient">
            <ion-item text-wrap>
                {{ingr}}                            
            </ion-item>       
        </ion-list>

        <ion-list-header>Comment:</ion-list-header>
          <ion-list *ngFor="let comment of recipe.comments">
            <ion-item>
              <blockquote >
                <p class="comment">{{comment.comment}}</p>
                <footer>{{comment.author}}, {{comment.date | date}}</footer>
            </blockquote>
           </ion-item>
       </ion-list>
           
      </ion-card-content>
    </ion-card>
    
  

</ion-content>
