page-recipe-detial {

    .thumbsup {
        color: #b2e374;
    }
    
    .comment {
        color: #1c7b76;
    }
    
    ion-icon {
        color: #b2e374;
    }
    
    div {
        color: #1c7b76;
    }
    
    ion-item {
        color: #1c7b76;
    }
    
    ion-title {
        color: #1c7b76;
    }
    
    .email {
        color:aliceblue;
    }
   
}
